.Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
    background-color: blanchedalmond;
}

.status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.status p span{
    color: red;
    font-weight: 600;
}

.status1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    transition: 0.35s ease-in;
}

.Heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
}

.sudoku_grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 40px;
}

#SolvePuzzle, #Reset, #default-Input {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: green;
    padding: 10px 15px;
    font-size: 24px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#Reset{
    background-color: rgb(247, 45, 45);
}

#default-Input{
    background-color: rgb(123, 123, 14);
}

.box1 {
    background-color: #c8cd3a;
    border: 1px solid white;
    border-radius: 10px;
}

.box1:hover {
    background-color: #838a06;
    color: black;
}

.box2 {
    background-color: rgb(36, 244, 241);
    border: 1px solid white;
    border-radius: 10px;
}

.box2:hover {
    background-color: #08625d;
}

.box3 {
    background-color: #26cf31;
    border: 1px solid white;
    border-radius: 10px;
}

.box3:hover {
    background-color:#028a0f;
    color: black
}

.bl {
    border-left: 4px solid black;
}

.bb {
    border-bottom: 4px solid black;
}

.br {
    border-right: 4px solid black;
}

.bt {
    border-top: 4px solid black;
}


html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
    max-width: 1024px
}

h1 {
    font-size: 30px;
    padding: 7px;
    margin: 0;
    text-align: center
}

input {
    border: 1px dotted black;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    padding: 0;
    border-radius: 10px;
}

input:hover {
    background-color: grey;
}

.error, .Default-Values, .solved{
    font-weight: bold;
    color: Red;
    padding-top: 30px;
}

.Default-Values{
   color: rgb(123, 123, 14);
}

.solved{
   color: green;
}